<h1>Welcome</h1>
<hr>
<!-- TODO Hint: Be sure to check on the server side so a hacker can't get around the requirement. -->

<h2>Log In!</h2>
<form action="log_in" method="GET">
  <input type="text" name="user_name" placeholder="Your Username" required/>
  <br>
  <input type="password" name="password" placeholder="Your Password" required/>
  <br> <br>
  <input type="submit" value="Log In">
</form>

<h2>Please Register</h2>
  <form action="register" method="POST">
  <input type="text" name="full_name" placeholder="Your Full Name" required/>
  <br> <br>
  <input type="text" name="address" placeholder="Your Address" required/>
  <br>
  <input type="text" name="city" placeholder="Your City" required/>
  <br>
  <input type="text" name="state" placeholder="Your State" required/>
  <br>
  <input type="text" name="zip_code" placeholder="Your Zip" required/>
  <br>
  <input type="text" name="country" placeholder="Your Country" required/>
  <br> <br>
  <input type="text" name="email" placeholder="Your Email" required/>
  <br>
  <input type="text" name="homephone" placeholder="Your Home Phone" required/>
  <br>
  <input type="text" name="cellphone" placeholder="Your Cell Phone" required/>
  <br>
  <input type="text" name="workphone" placeholder="Your Work Phone" required/>
  <br><br>
  <input type="text" name="user_name" placeholder="Your Username" required/>
  <br>
  <input type="password" name="password" placeholder="Your Password" required/>
  <br> <br>
  <input type="submit" value="Register" />
</form>
